* {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}
.common-btn {
  color: #ffffff;
  background-color: #1d4ed8;
  border: none;
  padding: 15px 45px;
  border-radius: 10px;
  font-weight: bolder;
}
.common-text {
  color: #575757;
}
/* nav start */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 4%;
}

nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #575757;
}
nav ul {
  display: flex;
  gap: 20px;
  /* justify-content: space-between; */
}
/* hero starts */
.hero-banner {
  background-image: url(../assets/banner.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  color: white;
}
.hero-banner h1 {
  font-size: 70px;
  margin-bottom: 20px;
}
